code[class*="language-"],
pre[class*="language-"] {
    border-radius:10px;
	color: #3c3836; /* fg1 / fg */
	font-family: Consolas, Monaco, "Andale Mono", monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
	color: #282828; /* fg0 */
	background: #a89984; /* bg4 */
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
	color: #282828; /* fg0 */
	background: #a89984; /* bg4 */
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em 0.2em 0.1em 1em;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f9f5d7; /* bg0_h */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.cdata {
	color: #7c6f64; /* fg4 / gray1 */
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: #9d0006; /* red2 */
}

.token.operator,
.token.punctuation,
.token.attr-name {
	color: #7c6f64; /* fg4 / gray1 */
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
	color: #b57614; /* yellow2 */
}

.token.entity,
.token.number,
.token.symbol {
	color: #8f3f71; /* purple2 */
}

.token.property,
.token.constant,
.token.variable {
	color: #9d0006; /* red2 */
}

.token.string,
.token.char {
	color: #797403; /* green2 */
}

.token.attr-value,
.token.attr-value .punctuation {
	color: #7c6f64; /* fg4 / gray1 */
}

.token.url {
	color: #797403; /* green2 */
	text-decoration: underline;
}

.token.function {
	color: #b57614; /* yellow2 */
}

.token.regex {
	background: #797403; /* green2 */
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	background: #7c6f64; /* fg4 / gray1 */
}

.token.deleted {
	background: #9d0006; /* red2 */
}

/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers {
	padding-left: 0;
}

pre[class*="language-"].line-numbers code {
	padding-left: 3.8em!important;
}

pre[class*="language-"].line-numbers .line-numbers-rows {
	left: 0;
}

/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
}
pre[data-line] code {
	position: relative;
	padding-left: 4em;
}
pre .line-highlight {
	margin-top: 0;
}

pre.line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre.line-numbers > code {
	position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

	.line-numbers-rows > span {
		pointer-events: none;
		display: block;
		counter-increment: linenumber;
	}

		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: #999;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}
div.code-toolbar {
	position: relative;
}

div.code-toolbar > .toolbar {
	position: absolute;
	top: .3em;
	right: .2em;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}

div.code-toolbar:hover > .toolbar {
	opacity: 1;
}

div.code-toolbar > .toolbar .toolbar-item {
	display: inline-block;
}

div.code-toolbar > .toolbar a {
	cursor: pointer;
}

div.code-toolbar > .toolbar button {
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
	-webkit-user-select: none; /* for button */
	-moz-user-select: none;
	-ms-user-select: none;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
	color: #bbb;
	font-size: .8em;
	padding: 0 .5em;
	background: #f5f2f0;
	background: rgba(224, 224, 224, 0.2);
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
	border-radius: .5em;
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
	color: inherit;
	text-decoration: none;
}

.max-img::-webkit-scrollbar-track-piece {
	background:#eee
}
.max-img::-webkit-scrollbar {
	width:8px;
	height:6px;
	display:none;
}
.max-img::-webkit-scrollbar-thumb {
	border-radius:6px;
	background-color:#777
}
.max-img::-webkit-scrollbar-thumb:hover {
	background-color:#bbb
}
pre::-webkit-scrollbar-track-piece {
	
}
pre::-webkit-scrollbar {
	width:8px;
	height:6px;
	display:none;
}
pre::-webkit-scrollbar-thumb {
	border-radius:4px;
	background-color:#cbcbcb
}
pre::-webkit-scrollbar-thumb:hover {
	background-color:#bbb
}
code::-webkit-scrollbar-track-piece {
	display:none;
}
code::-webkit-scrollbar-corner {display:none;}
code::-webkit-scrollbar {
	width:6px;
	height:6px;
}
code::-webkit-scrollbar-thumb {
	border-radius:6px;
	background-color:#dfdfdf
}
code::-webkit-scrollbar-thumb:hover {
	background-color:#bbb
}
html::-webkit-scrollbar-track-piece {
	background:#eee
}
html::-webkit-scrollbar {
	width:8px;
	height:6px;
	display:none;
}
html::-webkit-scrollbar-thumb {
	border-radius:4px;
	background-color:#cbcbcb
}
html::-webkit-scrollbar-thumb:hover {
	background-color:#bbb
}